.container{
  border: 5px solid red;
  width: 500px;
  margin: 20px;
}

.inner{
  font-size: 2rem;
  border: 5px solid black;
  width: 500px;
  padding: 0px 10px;
}

.inner1{
  box-sizing: content-box;
  /* 내용만의 크기 
  padding 과 border 별개로 적용됨 */
}

.inner2{
  box-sizing: border-box;
  /* 테두리까지포함 된 값으로 정함 */
}