.container{
  width: 700px;
  border: 3px solid black;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}


p{
  font-size: 16px;
  /* line-height: 50px; */
  margin-top: 0px;
  text-align: justify;
  /* p태그는 기본 margin 값이 있음 */
}

img{
  float: left;
  /* 부모 태그가 높이 값을 잃어버림 */
  /* float는 해당 내용이 위로 떠서 내용이 없다고 인식됨 */
  /* overflow: hidden;을 주면 높이값이 인식됨 */
  /* 잘 안씀 */
}