body{
  background-color: gray;
}
.full{
  background-color: white;
  height: 1000px;
  width: 1000px;
  margin: 20px;
}

.butt{
  text-align: center;
  padding: 10px;
}
button{
  outline: none;
  font-weight: 600;
  background-color: palevioletred;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: white;
}
.container{
  margin: 20px;
  height: 78%;
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;

}
