ul{
  list-style-type: none;
}

ul > li{
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  text-align: center;
}
/* 홈페이지 네비게이션바 */

body{
  background-image: url();
}
/* css 이미지 배경 */