table, tr, td{
  border: 6px solid yellowgreen;
  border-collapse: collapse;
}

table{
  width: 500px;
}

.h1{
  height: 60px;
}

.c1{
  background-color: green;
}

.h2{
  height: 40px;
}

.c2{
  background-color: skyblue;
}

.h3{
  height: 350px;
}

.h4{
  height: 60px;
}