.img1{
  /* hidden */
  visibility: visible;
}

.img2{
  /* display: none; */
}

.img3{
  opacity: 0.5;
}

/* visibility 기본 속성은 visible */
/* visibility: hidden;은 숨기기, 영역은 살아있음 */

/* display: none;은 숨기기, 영역도 사라짐 */

/* opacity:1; 투명도가 전혀 없음
   opacity:0; 안보임 
*/