body{
  margin: 0px
}

div{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.d1{
  background-color: aquamarine;
}

.d2{
  background-color: antiquewhite;
  position: absolute;
  top: 50px;
  left: 50px;
}

/* absolute 특정 위치에 강제 고정 */

.d3{
  background-color: rgb(250, 129, 85);
}
