
table, td{
  border: 1px solid gainsboro;
  padding: 6px;
  font-size: 12px;
  margin: 30px;
}

table{
  border-collapse: collapse;
  width: 900px;
  border-top: 2px solid gainsboro;
  
}

table > tbody > tr > td:first-child{
  background-color: rgb(248, 246, 246);
  width: 130px;
  padding-left: 20px;
}

.input{
  font-size: 12px;
  text-align: right;
}

.color-red{
  color: red;
}

.align{
  text-align: left;
  margin-bottom: 20px;
}

.wid{
  width: 50px;
}

.widt{
  width: 300px
}

caption{
  font-weight: 600;
}

