<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  학번 : [[${student.stuNum}]]<br>
  이름 : [[${student.stuName}]]<br>
  국어점수 : [[${student.korScore}]]<br>
  영어점수 : [[${student.engScore}]]<br>
  소개 : [[${student.intro}]]<br>

  <input type="button" value="뒤로가기" onclick="goBack()">
  <input type="button" value="학생수정" th:onclick="goUpdateForm([[${student.stuNum}]])">
  <button type="button" th:onclick="goDelete([[${student.stuNum}]])">학생삭제</button>

  <script>
    //뒤로가기 버튼 클릭 시 실행 함수
    function goBack(){
        //뒤로 가기(새로고침 반영 안됨)
        //history.back(-1);
        //특정 페이지로 이동(새로고침 반영)
        location.href = "/stuList";
      }

    //학생 삭제 클릭시 실행
    function goDelete(stuNum){
      const result = confirm('삭제할까요?');
    
      if(result){
        location.href = `/stuDelete?stuNum=${stuNum}`;
      }
    }

    //학생 수정 버튼 클릭 -> 학생정보를 수정할 수 있는 페이지로 이동
    function goUpdateForm(stuNum){
      location.href=`/updateForm?stuNum=${stuNum}`;
    }

  </script>
</body>
</html>