<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input type="hidden" name="menu" th:value="${orderVO.menu}">
  <input type="hidden" name="num" th:value="${orderVO.num}">
  <input type="hidden" name="pluse" th:value="${orderVO.pluse}">
  <input type="hidden" name="ask" th:value="${orderVO.ask}">

  <h1>배달 정보</h1> <br>
  <h3>주문자</h3> <br>
  <input type="text">
  <h3>연락처</h3> <br>
  <input type="text">
  <h3>배달 주소</h3> <br>
  <input type="text">


</body>
</html>